{% extends 'projectlist/addproject.html' %}

{% block content %}

<div class="container">
    <h2>DELETE SECTION</h2>
    <p>Are you sure you want to delete your <span style="color:greenyellow; font-size: 20px;">"{{carditem}}"</span> Porject?</p>
    <a href="{% url 'showarticle' %}"><button class="btn btn-primary">Cancle</button></a>

    <form action="{% url 'delete_card' carditem.id %}" method="POST">
        {% csrf_token %}
        <br>
        <input class="btn btn-primary" type="submit" value="Confirm" title="Confirm">
    </form>
</div>

{% endblock %}